@import url(//fonts.googleapis.com/css?family=Open+Sans:400,400italic|PT+Sans+Caption:700,400);
@import url(//d396qusza40orc.cloudfront.net/startup%2Fcode%2Fsocial-buttons.css);

body {
   font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.heading, .subheading {
   text-align: center;
   font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
}

p.lead {
   padding-top: 1.5%;
   font-size: 18pt;
   line-height: 1.25em;
}

p {
   font-size: 13.5pt;
   line-height: 18pt;
}

.pitch {
   padding: 2.5% 0;
}

.order {
   padding: 2% 0%;
}

.actions {
   background-color: #343434;
   color: white;
   padding: 3% 0%;
}

/* magical widths: 1200px, 980px, 768px, 480px */

@media (min-width: 980px) {
   body {
      padding-top: 60px;
   }
}

@media (min-width: 768px) {
   .linediv-c {
      border-right: 1px white solid;
      border-left: 1px white solid;
   }
}

@media (max-width: 767px) {
   .linediv-c {
      border-bottom: 1px white solid;
      border-top: 1px white solid;
   }
}
@media (max-width: 1199px) and (min-width: 768px) {
   .actions {
      padding: 1% 0%;
   }
   .actions h3 {
      font-size: 13.5pt;
   }
   
   .actions p {
      font-size: 10pt;
   }

   .btn-social {
      font-size: 9.5pt;
   }
}

.video, .thermometer, .order, .social, .statistics {
   text-align: center;
}

.copy {
   padding: 2.5% 0 2.5% 0;
   text-align: justify;
}

.asset {
   padding: 2.5% 0;
}

.footer {
   color: #cccccc;
   text-align: center;
}

.footer p {
   font-size: 8pt;
}

.statistics p, .statistics h3 {
   /* font-size: 12pt; */
}

div {
   /* border: 1px solid*/
}
